<!DOCTYPE html>

<html>
  <head>
    <title>AVS Single Line Search</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/> 
   <style>    
    .angular-leaflet-map {
    z-index : 1;
    }
    body{font-family:"Verdana";}a,h1,h2,li::before{color:#337ab7}h1,h2{text-align:center}
      .header{background-color:#fff;width:100%;height:55px;box-shadow:1px 0 6px 0 rgba(0,0,0,.4);text-align:left;padding-left:16px;white-space:nowrap}
      .header-content{display:inline-block;height:100%;vertical-align:middle}
      .header img{max-height:36px;vertical-align:middle}
      .content{width:300px;min-height:300px;margin:auto;border:1px solid #337ab7}
   </style>
  </head>
    
<body ng-app="SingleLineSearchApp">
  <div class="header" class="md-padding">
    <span class="header-content">  </span>
    <img src="./assets/img/grip.png">
 </div>
 <h1>AVS 4</h1>
 <h2>Single Line Search with Map</h2>
  <div ng-controller="addressCtrl as ctrl" layout="column" ng-cloak>
    <md-content class="md-padding">
      <form ng-submit="$event.preventDefault()">        
        <md-autocomplete                        
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"            
            md-search-text="ctrl.searchText"    
            md-selected-item-change="ctrl.selectedItemChange(item)"        
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="3"
            md-delay="400"
            placeholder="Enter search query">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}} ({{item.type}})</span>
          </md-item-template>          
        </md-autocomplete>
      </form> 
        <br>        
        <!-- LEAFLET MAP -->
        <div >
            <leaflet id="property-overview-image" markers="markers" tiles="tiles" center="center" height="500px" width="500px"></leaflet>
        </div>        
    </md-content>    
  </div>  
    
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
    <script src="../node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="app.js"></script> 
</body>
</html>
